@proto-all-angular:registry=https://gitlab.medusa-labs.com/api/v4/projects/1357/packages/npm/
//gitlab.medusa-labs.com/api/v4/projects/1357/packages/npm/:_authToken=<token>
//gitlab.medusa-labs.com/api/v4/packages/npm/:_authToken=<token>
